.App {
	text-align: center;
}

section {
	min-height: 605px;
}
.section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero {
	flex-direction: column;
	background-image: url("../public/heromainbg.png");
	background-position: center;
}
.hero > main {
	margin-top: 5rem;
}
main {
	width: 80%;
}
a {
	color: white !important;
	text-decoration: none !important;
}
main > section {
	color: white;
}
